body {
    margin: 0;
    height: 100vh;
  background-image: url("pegasus.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
h1{
    color:       white;
    font-size:   32 px;
    text-align: center;
    margin-top:  +10 px;
    
}



/* POSTRANNÍ OBDELNÍK */
.side-panel {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    width: 80px;
    height: 70vh;

    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(12px);

    border: 1.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);

    transition: 0.3s ease;
}

/* HOVER EFEKT */
.side-panel:hover {
    width: 200px;
}

