body {
    margin: 0;
    height: 100 vh;
  background-image: url("pegasus.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
h1{
    color:       red;
    font-size:   32 px;
    text-align:; center;
    
}
