body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;

    /* Pozadí */
    background-image: url('pegasus.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.sidebar {
    width: 220px;
    background-color: rgba(27, 27, 27, 0.85);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.sidebar ul li a:hover {
    color: #00bfff;
}

.main-content {
    flex: 1;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-y: auto;
}
.welcome-text {
    text-align: center;       /* zarovná text na střed */
    color: #00bfff;           /* barva textu */
    font-size: 48px;          /* velikost textu */
    margin-top: 200px;        /* odsazení od horního okraje */
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7); /* jemný stín pro lepší čitelnost */
}
