body {
    margin: 0;
    height: 100vh;
  background-image: url("pegasus.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
h1{
    color:       white;
    font-size:   32 px;
    text-align: center;
    margin-top:  +10 px;
    
}


.box {
    width: 300px;
    height: 200px;

    border: 2px solid rgba(255, 255, 255, 0.7); /* jemný okraj */
    border-radius: 15px;                        /* zaoblené rohy */

    background: rgba(0, 0, 0, 0.4);              /* průhledné pozadí */
    backdrop-filter: blur(8px);                 /* rozmazání pozadí */

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);  /* stín */

    margin: 50px auto;                           /* vycentrování */
}
